* {
  box-sizing: border-box;
}

.buttons {
  border: 1px solid black;
  display: flex;
}

.button {
  width: 25vw;
  height: 25vw;
}

.red {
  background: red;
}

.blue {
  background: blue;
}

.green {
  background: green;
}

.yellow {
  background: yellow;
}

.output {
  padding-top: 3em;
  display: flex;
  justify-content: center;
}

.hidden {
  display: none !important;
}

.start {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.current {
  width: 50vw;
  height: 50vw;
  border: 1px solid black;
}
